#root {
  padding: 0;
  margin: 0;
}

#app {
  padding: 1rem;
}

.dark {
  background-color: #333;
  color: #ccc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
nav {
  margin: 1rem 0;
}

button {
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
}

.light button {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
}

.dark button {
  border: 1px solid #eee;
  background-color: #333;
  color: #ccc;
}

.light button:active {
  box-shadow: inset 0 0 5px #ccc;
}

.dark button:active {
  box-shadow: inset 0 0 5px #222;
}

button:not(button:first-child) {
  margin-left: 1rem;
}

aside {
  padding: 1rem 0;
}

.dark aside {
  border-bottom: 1px solid #ccc;
}

.light aside {
  border-bottom: 1px solid #333;
}

footer {
  padding: 1rem 0 0 0;
}

.dark footer {
  border-top: 1px solid #ccc;
}

.light footer {
  border-top: 1px solid #333;
}

span {
  padding: 0.25rem;
}

.light span {
  background-color: #eee;
  color: #ccc;
}

.dark span {
  background-color: #000;
  color: #eee;
}
