# installed packages
node_modules
# 01_Backend/01_Express/lab/express-continued/completed-lab/node_modules

# answer key for express deep dive lab
01_Backend/01_Express/lab/express-continued/completed-lab